/* Pagination */
.pagination {
    display: flex;              /* horizontal layout */
    justify-content: center;    /* nasa gitna */
    align-items: center;
    gap: 8px;                   /* agwat bawat button */
    margin: 20px 0;
    flex-wrap: nowrap;          /* huwag mag-break ng line */
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #33476d;
    background: #25464c;
    color: #f5e6c5;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    min-width: 40px;            /* para pantay-pantay */
    text-align: center;
}

.pagination a:hover {
    background: #8b5e34;
    transform: scale(1.05);
}

.pagination .active {
    background: darkgreen;
    border-color: #003300;
    color: #f5e6c5;
}
